# Build outputs
bin/
obj/
publish/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Temp/build logs
*.txt
!README.md
!deploy/**/*.md

# NuGet
*.nupkg
packages/

# .NET
*.dll
*.pdb
*.cache

# CodeArts
.arts/
.codeartsdoer/
.config/

# Secrets
appsettings.production.json