<user-mapping>
    <authorize username="TABLET_USER" password="TABLET_PASS">
        <connection name="Htkis-Cloud">
            <protocol>rdp</protocol>
            <param name="hostname">RDP_HOST</param>
            <param name="port">3389</param>
            <param name="username">RDP_DOMAIN\RDP_USER</param>
            <param name="password">RDP_PASS</param>
            <param name="security-mode">rdp</param>
            <param name="ignore-cert">true</param>
            <param name="disable-audio">true</param>
            <param name="resize-method">display-update</param>
            <param name="color-depth">24</param>
            <param name="enable-sftp">true</param>
            <param name="sftp-hostname">127.0.0.1</param>
            <param name="sftp-port">22</param>
            <param name="sftp-username">SAMBA_USER</param>
            <param name="sftp-password">SAMBA_PASS</param>
            <param name="sftp-root-directory">/data/shares/public</param>
            <param name="sftp-server-alive-interval">60</param>
            <param name="sftp-directory-unicode">true</param>
        </connection>
    </authorize>
    <authorize username="ADMIN_USER" password="ADMIN_PASS">
        <connection name="Htkis-Cloud">
            <protocol>rdp</protocol>
            <param name="hostname">RDP_HOST</param>
            <param name="port">3389</param>
            <param name="username">RDP_DOMAIN\RDP_USER</param>
            <param name="password">RDP_PASS</param>
            <param name="security-mode">rdp</param>
            <param name="ignore-cert">true</param>
            <param name="disable-audio">true</param>
            <param name="resize-method">display-update</param>
            <param name="color-depth">24</param>
            <param name="enable-sftp">true</param>
            <param name="sftp-hostname">127.0.0.1</param>
            <param name="sftp-port">22</param>
            <param name="sftp-username">SAMBA_USER</param>
            <param name="sftp-password">SAMBA_PASS</param>
            <param name="sftp-root-directory">/data/shares/public</param>
            <param name="sftp-server-alive-interval">60</param>
            <param name="sftp-directory-unicode">true</param>
        </connection>
    </authorize>
</user-mapping>